body,
html {
	overscroll-behavior: none;
	touch-action: pan-y, pan-x;
	width: 100%;
}

body {
	background: $c-white;
	color: $c-black;
	font-family: $i500;
	font-size: vw(10px);
	line-height: vw(12px);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include max(bg) {
		font-size: 11px;
		line-height: 1.2;
	}

}

#viewport {
	width: 100vw;
	overflow-x: hidden;
	height: 100%;
}

._container {
	width: 100vw;
	padding-left: vw(32px);
	padding-right: vw(32px);
	@include max(bg) {
		padding-left: 32px;
		padding-right: 32px;
	}
	@include max(xs) {
		padding-left: 24px;
		padding-right: 24px;
	}
}

button,
a {
	all: unset;
}

button,
a {
	cursor: pointer
}