$offsets: (
	aquamarine: (bg: calc(calc(100vw * 120px) / 1440px),
		sm: 104px,
		xs: 104px,
		xxs: 80px,
	),
	blueviolet: (bg: calc(calc(100vw * 64px) / 1440px),
		sm: 54px,
		xs: 48px,
		xxs: 40px,
	),
	coral: (bg: calc(calc(100vw * 48px) / 1440px),
		sm: 40px,
		xs: 40px,
		xxs: 32px,
	),
	cornflowerblue: (bg: calc(calc(100vw * 32px) / 1440px),
		sm: 32px,
		xs: 32px,
		xxs: 24px,
	),
	darkgreen: (bg: calc(calc(100vw * 24px) / 1440px),
		sm: 24px,
		xs: 24px,
		xxs: 16px,
	),
	thistle: (bg: calc(calc(100vw * 16px) / 1440px),
		sm: 16px,
		xs: 16px,
		xxs: 11px,
	),
	antiquewhite: (bg: calc(calc(100vw * 8px) / 1440px),
		sm: 8px,
		xs: 8px,
		xxs: 8px,
	)
);