.ttu {
	text-transform: uppercase;
}

.tf1 {
	font-family: $ultralight;
}

.tf2 {
	font-family: $xl;
}

.alfaLink {
	transition: $s500;

	&:hover {
		opacity: 0.5;
	}
}

.s32 {
	font-size: vw(32px);
	line-height: 86%;
}