.ttu {
	text-transform: uppercase;
}

.tf1 {
	font-family: $ultralight;
}

.tf2 {
	font-family: $xl;
}

.alfaLink {
	transition: $s500;

	&:hover {
		opacity: 0.5;
	}
}

.--darken {
	mix-blend-mode: darken;
	color: $c-black;
}

.--difference {
	mix-blend-mode: difference;
	color: $c-white;
	@include max(sm) {
		mix-blend-mode: normal;
		color: $c-black;
	}
}

.vt {
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
	@include max(sm) {
		writing-mode: unset;
		transform: rotate(0);
	}
}

.s32 {
	font-size: vw(32px);
	line-height: 86%;
	@include max(bg) {
		font-size: 32px;
	}
	@include max(xs) {
		font-size: 22px;
	}
}

.h3 {
	font-size: vw(126px);
	line-height: 86%;
	font-family: $xl;
	text-transform: uppercase;
	@include max(bg) {
		font-size: 96px;
	}
	@include max(sm) {
		font-size: 88px;
	}
	@include max(xs) {
		font-size: 56px;
	}
}

.h5 {
	font-size: vw(32px);
	line-height: 86%;
	font-family: $xl;
	text-transform: uppercase;
	@include max(bg) {
		font-size: 24px;
	}
}

.h6 {
	font-size: vw(24px);
	line-height: 86%;
	font-family: $xl;
	text-transform: uppercase;
}