/* colors */
$c-black: #000000;
$c-white: #FFFFFF;

/* fonts */
$ultralight: 'pp-ultralight-italic';
$regular: 'pp-regular-italic';
$ultrabold: 'pp-ultrabold-italic';
$l: 'l';
$xl: 'xl';
$i300: 'inter-300';
$i400: 'inter-400';
$i500: 'inter-500';

// transition
$s500: all .5s ease;